---
import Social from './Social.astro';

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

</style>

<footer>
  <p>Learn more about my projects on my <br>
    <Social platform = "github" username = "Olivier-Agueda"/>
    <Social platform = "linkedin" username = "#"/>
    <Social platform = "instagram" username = "#"/>
  </p>

</footer>

